# Dossiers externes
../App-Resto-V2/
../App-Resto/
../PDF STUDI/
../Photo-M/
../Portefolio/
../Safepass/
../TripKit/
../V-G/
../Vite-et-gourmand2/
../Web Agency/
../Web-Resto-temp/
../mini blog/
../sql/
../vite-et-gourmand/

# Fichiers PDF
*.pdf

# Node modules et dépendances
node_modules/
vendor/

# Env et config locaux
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
.env
